.container {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  //   justify-content: center;
  align-items: center;

  .title {
    padding-top: 20px;
    text-transform: capitalize;
  }

  .exercises-container {
    display: flex;
    border: 1px solid black;
    height: 70vh;
    width: 70%;
    margin-top: 20px;

    .exercises-list {
      height: 100%;
      overflow-y: scroll;
      width: 50%;
    }
  }
  ::-webkit-scrollbar {
    width: 6px;

    background-color: #e6ecf8;
  }
  ::-webkit-scrollbar-thumb {
    background-color: gray;
  }
}
